* {
    box-sizing: border-box;
}
body {
    background: url("dessert.jpg") no-repeat;
    background-size: cover;
}

h1,
h3,
li {
    margin: 0;
    padding: 0;
}
ul, 
li {
    display: block;
}
.container h3 {
    font-size: 30px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 2px 2px red;
}

ul {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    margin-top: 20px;
}

li {
    list-style: none;
    text-align: center;
    font-size: 1.4em;
}
li a{
    text-decoration: none;
    color: blueviolet;
    padding: 5px 10px;

}
li a:hover{
    color:cadetblue;
    background-color: grey;

}
.container {
    width: 100%;
    margin: 0 auto;
    padding-right: 10px;
}
header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
    background-color: burlywood;
}
div.container {
    background-color: chocolate;
    color: bisque;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-right: 20px;

}
#location {
    background-color: chocolate;
    color: bisque;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-right: 20px;
    font-size: 1.5em;
    margin-bottom: 20px;

}

.contact {
    background-color: chocolate;
    font-size: 20px;
    color: bisque;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.contact h3 {
    text-decoration: underline;
}
.contact em{
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.page-footer {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: black;
    color: chocolate;
    clear: both;
    text-align: center;
}
.page-footer dt {
    display: inline-block;
    list-style: none;
    padding: 5px;
    
}
.page-footer dt:hover {
    background-color: green;
}

@media screen and (min-width:769px) {
ul, 
li {
    display: inline-block;
}
li {
    list-style: none;
    text-align: center;
    padding-right: 10px;
    font-size: 1.4em;
}
li a{
    text-decoration: none;
    color: blueviolet;
    padding: 5px 10px;

}
div.container {
    background-color: chocolate;
    color: bisque;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-right: 20px;

}
#location {
    background-color: chocolate;
    color: bisque;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-right: 20px;
    font-size: 1.5em;
    margin-bottom: 20px;

}
.contact {
    background-color: chocolate;
    font-size: 30px;
    color: bisque;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
}