* {
    box-sizing: border-box;
}
body{
    background: url("sky.jpg") no-repeat;
    background-size: cover;
}

/* ######   Main Header Style  ###### */
ul, 
li, 
h1 {
    margin: 0;
    padding: 0;

}

header {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
ul.main-nav {
    padding: 2%;
    text-align: center;
    vertical-align: baseline;
}
h1,
ul, 
li {
    display: block;
}

.first-head h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 200%;
}

ul {
    margin: 0;
    padding: 0;
    margin-right: 40px;
}

li {
    list-style: none;
    text-align: center;
    color: chocolate;
    margin-right: -4px;
    font-size: 1.4em;
    padding-bottom: 10px;
}
li a{
    text-decoration: none;
    color: chocolate;
    padding: 5px 10px;

}
li a:hover{
    color:cadetblue;
    background-color: green;

}

header.main-header {
    background: linear-gradient(to right, #7180d2, #0f4163);
    text-align: center;

}

/*   ######   Body ######### */
        /* ##### Image Style ##### */
.container .banner1 {
    height: auto;
    width: 100%;
    overflow: hidden;
    background-position: top center;
    padding-bottom: 10px;
    display: block;
}
.banner {
    width: 100%;
    color: black;
    font-family: 'Pacifico', cursive;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    
}
h3 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}
.container h2 {
    text-shadow: 1px 2px 2px red;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}
.banner p {
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

/*
p {
    text-align: justify;
    line-height: 1.2em;
}
 ### About Section #### 

#post {
    background-color: rgba(212, 62, 36, 0.4);
    padding: 20px;
    height: auto;
    margin-top: 10px;
    box-shadow: 2px 3px 2px crimson;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#post .position {
    text-align: center;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-shadow: 1px 2px 2px red;
    text-decoration-line: underline;
}
.paragraph p {
    width: 50%;
    float: left;
    padding: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;

}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.first-word::first-letter {
    font-size: 200%;
}

*/

div.img {
    width: 100%;
    background-color: lightsalmon;
    border-radius: 3px;
    
}	


div.img:hover {
    color: blue;
}

div.img img {
    width: 100%;
    height: 300px;
    
    
    

}

div.desc {
    padding: 10px;
    text-align: center;
}
#encapsulate {
    width: 100%;
    margin: 0;
    padding: 0;
}
.page .enclose {
    background-color: #7180d2;
    
}


.page h3 {
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;    
}
div.page {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 3px;


}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;

}
input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid aqua;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid aqua;
    border-radius: 4px;
    box-sizing: border-box;
}

.page #a {
	font-family: consolas;
	font-size: 20px;
	margin-left: 0;
	margin-top: 0;
}
.page .aa {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border-color: aqua;
    padding-left: 20px;
    margin-left: 10px;
    outline: 0px; 
}
.page #b {
	font-family: consolas;
	font-size: 20px;
	margin-left: 0;
	margin-top: 0;
}
.page .bb {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border-color: aqua;
    padding-left: 20px;
    margin-left: 10px;
    outline: 0px; 
}
.page #c {
	font-family: consolas;
	font-size: 20px;
	margin-left: 0;
	margin-top: 0;
}
.page .cc {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border-color: aqua;
    padding-left: 20px;
    margin-left: 10px;
    outline: 0px; 
}
.page #d {
	font-family: consolas;
	font-size: 20px;
	margin-left: 0;
	margin-top: 0;
}
.page .dd {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border-color: aqua;
    padding-left: 20px;
    margin-left: 10px;
    outline: 0px; 
}
.page #e {
	font-family: consolas;
	font-size: 20px;
	margin-left: 0;
	margin-top: 0;
}
.page .ee {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border-color: aqua;
    padding-left: 20px;
    margin-left: 10px;
    outline: 0px; 
}
.beef {
    margin-top: 50px;
    margin-left: 20px;
}
.beef #lol {
    background-color: black;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    text-align: center;
    font-size: 20px;
    border: 0px important;
    color: gold;
}
.beef #lol:hover{
    background-color: crimson;
    transition:1s;
    border: 0%;
}
.beef #lolo {
    background-color: #606060;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    text-align: center;
    font-size: 20px;
    border: none;
    color: red;
    margin-left: 20px;
    outline: none;
}

.beef #lod:hover{
    background-color:crimson ;
    transition:1s;
}
/*
.paragraph {
    width: 100%;
    text-align: justify;
}
        
div.container {
    position: relative;
    z-index: 1;
    min-height: calc(100%-30px);
}
        
h3.position {
     width: 45%;
}
        
*/

.page-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    width: 100%;
    color: chocolate;
    text-align:center;
}
.page-footer dt {
    display: block;
    list-style: none;
    padding: 5px;
}
.page-footer dt:hover {
    background-color: green;
}
/*##### media query ####*/
@media screen and (min-width:769px) {
    h1,
    ul, 
    li {
        display: inline-block;
}
li a{
    text-decoration: none;
    color: chocolate;
    padding: 15px 30px;
}
li a:hover{
    color:cadetblue;
    background-color: green;

}

div.img {
    float: left;
    width: 50%;
    background-color: lightsalmon;
    border-radius: 4px;
    
}	
div.img img {
    width: 650px;
    height: 400px;
    padding: 5px;
    margin: 5px;
    

}
#encapsulate img{
    width: 100%;
    margin-left: 20px 20px;
}

div.desc {
    padding: 15px;
    text-align: center;
}
div.page {
    width: 30%;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 4px;
    box-sizing: border-box;


}
.page-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: chocolate;
    clear: both;
    text-align:center;
}
.page-footer dt {
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
}
}



/* .banner {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-color: #7a8aa1;
    z-index: 1;
    padding: 30px;
    margin-bottom: 50px;
}
    
.banner:before {
    position: absolute;
    content: "";
    background-color: inherit;
    transform-origin: bottom left;
    transform: skewY(3deg);
    min-height: 400px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
        
*/