* {
    box-sizing: border-box;
}
body{
    background: url("food1.jpg") no-repeat;
    background-size: cover;
    color: blanchedalmond;
}
li, 
h1 {
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: 0 auto;
}
header {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

h1 {
    display: block;
}

.first-head h1 {
    text-align:  left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 200%;
}

header.about-header {
    background: #0f4163;
    text-align: center;
}
h3 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}
.banner1 {
    height: auto;
    width: 100%;
    padding-bottom: 5px;
    display: block;
}
p {
    text-align: left;
    line-height: 1.2em;
}
#post {
    padding: 20px;
    height: auto;
    margin-top: 10px;
    box-shadow: 2px 3px 2px crimson;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.paragraph p {
    background-color: chocolate;
    width: 100%;
    float: left;
    padding: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;

}
.proven p {
    background-color: chocolate;
    float: left;
    width: 50%;
    padding: 20px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
.proven1 p {
    background-color: chocolate;
    float: left;
    width: 50%;
    padding: 10px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
.proven h3 {
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color: coral;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.first-word::first-letter {
    font-size: 200%;
}

.page-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: chocolate;
    clear: both;
    text-align: center;
}
.page-footer li {
    display: block;
    list-style: none;
    padding: 5px;
    
}
.page-footer li:hover {
    background-color: green;
}

/*##### media query ####*/
@media screen and (min-width:769px) {
    p {
        text-align: justify;
        line-height: 1.2em;
    }
    .paragraph p {
        background-color: chocolate;
        width: 50%;
        float: left;
        padding: 20px;
        font-family: 'Patrick Hand', cursive;
        font-size: 20px;
    
    }
    .page-footer li {
        display: inline-block;
        list-style: none;
        padding: 5px;
        
    }
    .page-footer li:hover {
        background-color: green;
    }
}
